@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,700');
@font-face {font-family: 'SofiaProBlack';
  src: url('./assets/fonts/SofiaProBlack.eot');
  src: url('./assets/fonts/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SofiaProBlack.woff2') format('woff2'),
  url('./assets/fonts/SofiaProBlack.woff') format('woff'),
  url('./assets/fonts/SofiaProBlack.ttf') format('truetype');
}
// @font-face {font-family: 'SofiaProMedium';
//   src: url('./assets/fonts/SofiaProMedium.eot');
//   src: url('./assets/fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
//   url('./assets/fonts/SofiaProMedium.woff') format('woff'),
//   url('./assets/fonts/SofiaProMedium.ttf') format('truetype');
// }
@font-face {font-family: 'SofiaProLight';
  src: url('./assets/fonts/SofiaProLight.eot');
  src: url('./assets/fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SofiaProLight.woff') format('woff'),
  url('./assets/fonts/SofiaProLight.ttf') format('truetype');
}


$grey: #2C2C2C;
$white: #DCDCDC;

::selection {
  background: $white;
  opacity: .15;
}
::-moz-selection {
  background: $white;
  opacity: .15;
}

html{
  cursor: crosshair;
}

body {
  background-color:$grey;
  color: $white;
  font-family: 'SofiaProLight';
}

ul {
  list-style: none;
  li{
    cursor: pointer;
  }
}

nav {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  z-index: 10;
  bottom: 5%;
  top: calc(50% + (239px / 2));
  margin-left: 2.6vw;
  height: 40px;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all .5s cubic-bezier(.19, 1, .22, 1);
  color: #161616; // TEST
  & + li{
    margin-left: 10px
  }
  &:after{
    width: 0px;
    position: absolute;
  }
  &.active,
  &:hover{
    color:$white;
    transition: .4s ease-in-out;
    &:after{
      content:'';
      height:2px;
      width:20%;
      background:$white;
      position:absolute;
      left:calc(50% - 10%);
      bottom:-5px;
    }
  }
}

h1,h3{
  font-family: 'SofiaProBlack','Oswald', sans-serif;
  text-transform: uppercase;
}

h3{
  margin-top:0;
  font-size: 48px;
}

h4 {
  font-size: 'SofiaProLight','Open Sans';
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

li, h5 {
  font-family: 'SofiaProLight','Open Sans';
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  p{
    text-decoration: underline;
  }
}

p{
  margin-top: 0;
  font-size: 16px;
  & + p{
    margin-top: 16px;
  }
}

#header,#about,#work,#contact {
  min-height: 30vh;
  margin: 300px auto;
  width: 82vw;
  display: flex;
}

#header {
  margin: 130px auto;
  height: calc(100vh - 260px);
  justify-content: flex-end;
  h1 {
    animation: 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 sline;
    margin: 0;
    padding: 0;
    font-size: 50vh;
    text-align: right;
    line-height: 1.5;
  }

  h5 {
    animation: 1600ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 drop;
    position: absolute;
    left: 4.6vw;
    top: 2.6vh;
    color: $white;
  }

  .header-text {
    color: $white;
    background: url(./assets/images/surf_pirate_eye.jpg) no-repeat center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0;
    text-transform: uppercase;
  }
}

#about{
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: $white;
  line-height: 1.5;
  letter-spacing: 1.6px;
  h3,p{
    width:50vw
  }
}

#work{
  flex-direction: row;
  justify-content: flex-between;
  ul{margin-right: auto}
  li h4{
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      top: 60%;
      left: -10%;
      width: 120%;
      height: 4px;
      background: $white;
      animation-name: strike;
      animation-duration: .4s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
  li.active h4{
    text-decoration: none;
    &:after {
      content: none;
    }
  }
  .projects {
    .project{
      width: 50vw;
      margin-left: auto;
      &.active .project-illustration{
        width: 100%;
      }
    }
  }
  .closing .project .project-illustration{
    width: 0px;
  }
  .project-descr{
    display: flex;
    a{
      margin-left: 10px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .project-illustration{
    margin-bottom: 16px;
    height: 200px;
    width: 0px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .6s ease-in-out;
    cursor: pointer;
    &:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      background-position: top;
    }
    &.happydemics{
      background-image: url(./assets/images/happydemics.png);
    }
    &.calypso{
      background-image: url(./assets/images/calypso_maassen.jpg);
    }
  }
}

#contact{
  ul{
    margin-top: 0;
    li:first-of-type{
      font-family: 'SofiaProBlack';
    }
  }
}

.mobile-only{
  display: none;
}

@media (max-width: 1100px){

  h3 {
    font-size: 34px;
  }

  nav {
    display: none;
  }

  #about,#work,#contact {
    width: 80vw;
    align-items: flex-start;
    flex-direction: column;
    h3, p{
      width: 100%;
    }
  }

  #about {
    margin: 0px auto 150px;
  }

  #work,#contact {
    margin: 150px auto;
  }

  #header {
    margin: 0 auto;
    width: 80vw;
    height: 600px;
    align-items: center;
    justify-content: center;
    h1.mobile-only{
      font-size: 200px;
    }
  }

  #work{
    ul {
      display: none;
    }
    .projects{
      width: 100%;
    }
    .projects .project{
      width: 100%;
      display: block !important;
    }
  }

  #contact {
    ul{
      padding: 0;
    }
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@keyframes sline {
  0% {
    line-height: 5;
  }
  100% {
    line-height: 1.5;
  }
}

@keyframes drop {
  0% {
    top: -5vh;
  }
  100% {
    top: 2.6vh;
  }
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 120%; }
}
